<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252" />
    <title>Your Reads...</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"> </script>

    <script type="text/javascript">
    $(function() {
        $('.remove_book').on('click',function(event) {
            event.preventDefault();
            var userid = $(this).data("userid");
            var bookid = $(this).data("bookid");
            var remove = $(this).data("remove");
            var index = $(this).data("activeindex");

            var values = {};
            values['userid']= userid.toString();
            values['bookid'] = bookid.toString();
            values['remove'] = remove.toString();

            $.ajax({
                type: 'POST',
                beforeSend: function (request)
                {
                    var token = $(".remove_book").data("token");
                    request.setRequestHeader("X-CSRFToken", token);
                },
                url: '/processReadList',
                data: JSON.stringify(values, null, '\t'),
                contentType: "application/json; charset=UTF-8",
                success: function(response) {
                    var removeItem = "#bookdetail" + index;
                    $(removeItem).remove();
                },
                error: function(jqXHR, exception) {
                    console.log("jqXHR.status = "  + jqXHR.status);
                    console.log("jqXHR.responseText" + jqXHR.responseText);
                }
            });
        });
    });
    </script>
    <script>
        $(document).ready(function() {
            $(".details").each(function() {
                $(this).text($(this).text().substring(0,300) + "...");
            });
        });
    </script>
</head>
<body>
    <div id="wrap">

        <div class="header" style="background:url(../../static/header.jpg) no-repeat center;">
            <div class="logo">
                <a href="{{ url_for('HomePage') }}"><img src="../../static/logo.gif" alt="" border="0" /></a>
            </div>
            <div id="menu">
                <ul>                                                                       
                    <li class="selected"><a href="{{ url_for('HomePage') }}">Home</a></li>
                    <li><a href="{{ url_for('listBooks', page=1) }}">Books</a></li>
                    <li><a href="{{ url_for('contactMe')}}">Contact Me</a></li>
                </ul>
            </div>
            <div id="menu_right">
                <div class="dropdown">
                    {% if session['logged_in'] %}
                        <a href="#" class="dropbtn">My Account</a>
                        <div class="dropdown-content">
                            <a href="{{ url_for('userReadingList') }}">My Books</a>
                            <a href="{{ url_for('userReviews') }}">My Reviews</a>
                            <a href="{{ url_for('logout') }}">Log out</a>
                        </div>
                    {% else %}
                        <a href="{{ url_for('logIn') }}" class="dropbtn">Login</a>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="center_content">
            <div class="left_content">
                <div class="title">
                    <span class="title_icon">
                        <img src="../../static/bullet1.gif" />
                    </span>
                    You're interested in....
                </div>
                {% set activeIndex = 1 %}

                {% for book in user_books %}
                    <div class="feat_prod_box" id="bookdetail{{activeIndex}}">
                        <div class="prod_img">
                            <a href="{{ url_for('showBook', book_id=book.book_id) }}">
                                <img src="{{book.image_url}}" style="max-width:100%; max-height:100%;" border="0" />
                            </a>
                        </div>
                        <div class="prod_det_box">
                            <div class="box_top">
                            </div>
                            <div class="box_center">
                                <div class="prod_title">
                                    {{book.title}}
                                </div>
                                <p class="details">
                                    {{book.description}}
                                </p>
                                <span class="remove_book"
                                      data-activeindex="{{activeIndex}}"
                                      data-bookid="{{book.book_id}}" 
                                      data-userid="{{session['user_id']}}" 
                                      data-remove="true"
                                      data-token="{{ csrf_token() }}">
                                    <a href="" class="buttonlink" style="margin:10px 20px;">
                                        Remove it!!
                                    </a>
                                </span>
                                <a href="{{book.buy_link}}" target="_blank" class="buttonlink" style="margin:10px 20px;" id="OrderNow">Order Now</a>
                                <div class="clear"></div>
                            </div>
                            <div class="box_bottom"></div>
                        </div>    
                        <div class="clear"></div>
                    </div>
                {% set activeIndex = activeIndex + 1 %}
                {% endfor %}
                
                <div class="clear"></div>

            </div><!--end of left content-->

            <div class="right_content">
                <div class="title">
                    <span class="title_icon">
                        <img src="../../static/bullet2.gif" />
                    </span>
                    New books
                </div>
                <div class="new_products">
                {% for newBook in newBooks %}
                    <div class="new_prod_box">
                        <a href="{{ url_for('showBook', book_id=newBook.id) }}"> {{newBook.title}} </a>
                        <div class="new_prod_bg">
                            <span class="new_icon"><img src="../../static/new_icon.gif" /></span>
                            <a href="{{ url_for('showBook', book_id=newBook.id) }}">
                                <img src="{{newBook.image_url}}" class="thumb" border="0" />
                            </a>
                        </div>
                    </div>
                {% endfor %}
                </div>

                <div class="clear"></div>
                <div class="title">
                    <span class="title_icon"><img src="../../static/bullet3.gif" /></span>
                    About Me
                </div>
                <div class="about">
                    <p>
                        <img src="../../static/about.gif" class="right" />
                        I'm a software engineer who is working on Windows driver development for past couple of years. However, lately, I've started learning things like Python, Flask, HTML5, CSS, jQuery etc. This is a simple project to demonstrate the skills that I've learnt over the last few months...
                    </p>
                </div>
            </div><!--end of right content-->
            <div class="clear"></div>
        </div><!--end of center content-->
    </div>
</body>
</html>